/*大标题背景*/
.index_header_background{
    background-image: url('../images/city.jpg');
    background-color: rgb(44, 40, 76);
    height: 350px;
    position: relative;

    display: flex;/*flex布局横向排列*/
    flex-direction: row;
    justify-content: space-between;/*使匀速均匀分布，间距相同*/
}

/*大标题*/
.index_main_header{
    width: 80%;
    min-width: 200px;
    margin: 5% 0% 5% 10%;
    color: rgba(255, 255, 255, 0.8);
    font-family: "FZCuHeiSong", cursive, serif, sans-serif;
    font-size: 100px;
    text-shadow: 4px 4px 10px rgb(2, 0, 34);
}

/*英文副标题*/
.index_main_en{
    color: rgba(255, 255, 255, 0.8);
    margin-left: 40px;
}

/*介绍词*/
.index_head_introduction{
    width: 72%;
    padding: 50px 0% 50px 15%;
    opacity: 0;
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
    color: rgb(212, 212, 212);
    transition: all 1.2s;
}
.index_head_introduction:hover{
    padding: 50px 5% 50px 10%;
    opacity: 1;
}

/*OC定义入口*/
.index_OC_head{
    text-align: center;
    line-height: 30px;/*行高强制居中*/
    border-radius: 20px;
    border:2px solid rgb(237, 237, 237);
    color: aliceblue;
    opacity: 0.5;
}
.index_OC_head:hover{
    opacity: 1;
    background-color: rgba(183, 186, 201, 0.8);
    color: rgb(0, 0, 55);
    font-weight: bold;
}

.index_OC{
    position: relative;
    width: 200px; height: 30px;
}
.index_OC:hover .index_OC_content{
    display: block;
}

/*OC定义*/
.index_OC_content{
    position: absolute;
    display: none;
    width: 600px;
    background-color: rgba(183, 186, 201, 0.8);
    border:2px solid rgb(237, 237, 237);
    margin: 5px;
    padding: 15px 25px 18px 25px;
    border-radius: 10px;
}