/*大标题背景*/
.index_header_background{
    background-image: url('../images/city.jpg');
    background-color: rgb(44, 40, 76);
    height: 350px;
    padding: 2% 4%;
    position: relative;
}

/*大标题*/
.index_main_header{
    width: 40%;
    min-width: 200px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "FZCuHeiSong", cursive, serif, sans-serif;
    font-size: 100px;
    text-shadow: 4px 4px 10px rgb(2, 0, 34);
}

/*英文副标题*/
.index_main_en{
    color: rgba(255, 255, 255, 0.8);
    margin-left: 20px;
}