.index_main_header{
    color: rgb(208, 226, 242);
    font-family: "FZCuHeiSong", cursive, serif, sans-serif;
    font-size: 100px;
}

.index_header_background{
    background-color: rgb(8, 7, 60);
}