@import url(index.css);

@font-face {
    font-family: 'FZCuHeiSong'; /*方正粗黑宋*/
    src: url(../Fonts/FZCuHeiSong.eot);
    src: url(../Fonts/FZCuHeiSong.woff) format('woff'),
        url(../Fonts/FZCuHeiSong.ttf) format('truetype');
}

/*初始化清除内外边距*/
* {
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(28, 28, 28);
}

/*透明主框图*/
.main{
    margin: auto;
    width: 1200px;
    height: 500px;
}

/*网页抬头菜单栏*/
.banner{
    margin: auto; /*居中与文本居中*/
    text-align: center;
    width: 100%;
    height: 20px;
}
/*菜单栏内部文字*/
.banner_btn{
    display: inline-block;
    width: 200px;
    color: aliceblue;
    font-weight: bold;
    opacity: 0.7;
}
.banner_btn:hover{
    opacity: 1;
    cursor: pointer;
}

/*禁止选择文本*/
.no_select{
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    -webkit-touch-callout: none; /* 移动端触屏*/
    user-select: none;
    caret-color:transparent;/*选择光标透明度为0*/
}