@import url(index.css);

@font-face {
    font-family: 'FZCuHeiSong'; /*方正粗黑宋*/
    src: url(../fonts/FZCuHeiSong.eot);
    src: url(../fonts/FZCuHeiSong.eot#iefix) format('embedded-opentype'),
        url(../fonts/FZCuHeiSong.woff) format('woff'),
        url(../fonts/FZCuHeiSong.ttf) format('truetype');
}

/*初始化元素，清除内外边距，设置默认鼠标*/
* {
    padding: 0; margin: 0; 
    cursor: url(../images/cursor/pointer.png), default
}

body{
    background-color: rgb(28, 28, 28);
    overflow-x: hidden;/*隐藏横向滚动条*/
}
/*滚动条样式*/
body::-webkit-scrollbar {
    width: 10px; /*竖滚动条的尺寸*/
    }
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(210, 210, 210, 0.1);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.1);
}

/*透明主框图*/
.main{
    margin: auto;
    width: 75%;
    height: 1000px;
}

/*网页抬头菜单栏*/
.banner{
    margin: auto; /*居中与文本居中*/
    text-align: center;
    width: 100%; height: 20px;
    padding: 10px 0px;
}
/*菜单栏内部文字*/
.banner div{
    display: inline-block;
    width: 15%;
    color: aliceblue;
    opacity: 0.7;
}
.banner div:hover{
    opacity: 1;
    cursor: pointer;
    font-weight: bold;
}

/*禁止选择文本*/
.no_select{
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    -webkit-touch-callout: none; /* 移动端触屏*/
    user-select: none;
    caret-color:transparent;/*选择光标透明度为0*/
}



/*加载动画*/
#loading{
    position: fixed;/*固定位置*/
    display: flex;/*出于居中需要使用弹性布局*/
    flex-direction: column;/*item垂直方向排列*/
    align-items: center;/*内容垂直居中*/
    justify-content: center;/*内容水平居中*/
    z-index: 20;
    left: 0px; top: 0px;
    width: 100%; height: 100%;
    background-color: rgb(28, 28, 28);
    color: aliceblue;
}
#loading span{
    display: inline-block;
    width: 15px; height: 20px;
    margin: 4px;
    background-color: rgb(226, 226, 226);
    opacity: 0.2;
    animation: load 1.5s ease infinite;
    
}
@keyframes load {
    0%,100% { opacity: 0.1; background-color: rgb(226, 226, 226); }
    50% { opacity: 1; background-color: rgb(138, 216, 255); }
}
#load { height: 40px;}
#load span:nth-child(1){ animation-delay: 0.12s; }
#load span:nth-child(2){ animation-delay: 0.24s; }
#load span:nth-child(3){ animation-delay: 0.36s; }
#load span:nth-child(4){ animation-delay: 0.48s; }
#load span:nth-child(5){ animation-delay: 0.6s; }

/*跟随方块动画*/
#square{
    position: fixed;
    z-index: -5;
    width: 40px; height: 40px;
    border-width: 3px;
    border-style: groove;
    border-color: aliceblue;
    animation: sqr_rotate 5s ease infinite;
    transform:rotate(45deg)
}
@keyframes sqr_rotate {
    0% {transform: rotateZ(765deg);}
    100% {}
}

.line{
    background-color: aliceblue;
    opacity: 0.6;
    height: 2px;
}